<!DOCTYPE html>
<html>

<head>
    <title>Real-Time Posture Correction in Gym Exercises</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            display: flex;
            height: 100vh;
            overflow: hidden;
        }

        .column {
            flex: 1;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            overflow: hidden;
        }

        .column-left {
            background-color: #f1f1f1;
            width: 15%;
            padding: 20px;
        }

        .column-center {
            background-color: #fff;
            width: 70%;
            align-items: center;
            justify-content: center;
            padding: 0px;
        }

        .column-right {
            background-color: #f1f1f1;
            width: 15%;
            display: flex;
            flex-direction: column; /* Change to column direction */
            align-items: flex-end;
            justify-content: flex-end;
            padding: 20px;
        }
        /* Add your other styles here */

        /* New color scheme */
        body {
            background-color: #f4f4f4;
                overflow: auto; /* or overflow: scroll; */

        }



        .title {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .horizontal-title {
            display: flex;
            justify-content: space-between;
            background-color: #333;
            color: white;
            padding: 10px 20px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        }

        /* Common styles for toggle buttons */
.toggle-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Styles for the Off state */
.toggle-button.off {
    background-color: #FFA500;
}

        /* Center section size increased by 20% */
        #exercise-type,
        #video-container,
        #video-label,
        #file-input,
        #video-name,
        #button-container,
        #processing-message,
        #processed-video-container {
            max-width: 100%;
            margin: 0 auto;
        }

        /* Nice-box styles */
        .nice-box {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
        }
    </style>

</head>

<body onload="myLoadFunction()">

<div class="column column-left">
            <div >
                <button class="toggle-button" id="helpButton" onclick="toggleHelp()">
                    Help
                </button>
                <button class="toggle-button" id="helpButton">
                  30 FPS
              </button>
              <button class="toggle-button" id="helpButton" onclick="refreshPage()">
                Restart 
            </button>
            </div>
            <div id="helpInfo" style="display:none;">
                <h3>Help Information</h3>
                <h3>Buttons Functionality</h3>
                <strong>Webcam:</strong> When you click on start webcam button you can access the real time feedback for the
                selected exercise.<br>
                <strong>Recommendation Button:</strong> When you toggle this on, you can see the feedback in form of text on the
                screen.<br>
                <strong>Keypoints Button:</strong> When you toggle this on, you can see the Kepoints drawn on the body.<br>
                <strong>Process Video:</strong> Onclick processes the video with both recorded and webcam as input.<br>
        
                <h3>Exercises</h3>
                <strong>Lunges:</strong> Please note that this is a right leg forward lunges exercise. Please place your right
                leg forward.
            </div>
    </div>
</div>


<div style="background-color: greenyellow; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 20px;">
    <!-- Content for the center column -->
    <div id="exercise-type" style="margin-bottom: 20px;">
        <select class="nice-box" name="exercise" id="exercise-dropdown">
            <option value="">Select Exercise</option>
            <option value="bicep">Bicep Curl</option>
            <option value="lunges">Lunges</option>
            <option value="pushup">Pushups</option>
            <option value="shoulder_lateral_raise">Shoulder Lateral Raise</option>
            <option value="squats">Squats</option>
            <!-- Add more options as needed -->
        </select>
    </div>

    <div id="video-container" style="margin-bottom: 20px;">
        <!-- <video id="video-player" width="720" height="405" class="video-player" controls></video> -->
    </div>

    <div style="margin-bottom: 20px;">
        <!-- <label for="file-input" id="video-label">Choose a video file:</label> -->
        <input class="nice-box" type="file" id="file-input" name="video">
        <p id="video-name"></p>
    </div>
    <div id="button-container" style="margin-bottom: 20px;">
        <button class="nice-box" class="button" id="process-button" onclick="processVideo()">Process Video</button>
    </div>

    <div id="processing-message" style="text-align: center; display: none;">
        <h2>Video processing in progress...</h2>
        <p>Please wait while the video is being processed.</p>
    </div>
    <div id="processed-video-container">
        <video id="processed-video-player" class="video-player" controls>
            <!-- <source src="" type="video/mp4"> -->
        </video>
    </div>
</div>



<div class="column">
    <!-- Content for the right column -->
    <div class="column">
        <button id="toggleButton" class="toggle-button active" onclick="toggleButton()">Keypoints On</button>
        <p><b>Keypoints Button:</b> When you toggle this on, you can see the Kepoints drawn on the body.</p>
    </div>
    <div class="column">
        <button id="RecommendButton" class="toggle-button active" onclick="toggleRecommendButton()">Recommendation On</button>
        <p><b>Recommendation Button:</b> When you toggle this on, you can see the feedback in form of text on the screen.</p>
    </div>
    <div class="column">
        <button id="webcamToggle" class="toggle-button active" onclick="toggleWebcam()">Start Webcam</button>
        <p><b>Webcam:</b> When you click on start webcam button you can access the real time feedback for the selected exercise.</p>
    </div>
</div>



    <script>
      function refreshPage() {
      location.reload(); 
    }

      

        const fileInput = document.getElementById('file-input');
        const videoName = document.getElementById('video-name');
        const processButton = document.getElementById('process-button');
        const processingMessage = document.getElementById('processing-message');
        const processedVideoContainer = document.getElementById('processed-video-container');
        const processedVideoPlayer = document.getElementById('processed-video-player');
        const videoContainer = document.getElementById('video-container')

        processedVideoContainer.style.display = 'none';
        processedVideoPlayer.width = 720;
        processedVideoPlayer.height = 405;

        const videoElement1 = document.createElement('video');
        videoElement1.width = 720;
        videoElement1.height = 405;
        videoElement1.autoplay = false; // Starts the video playback as soon as it can do so
        videoElement1.controls = true; // Shows the default video controls (play, pause, volume, etc.)
        videoElement1.id = 'video-player';
        // const videoElement1 = '<video id="video-player" class="video-player" controls></video>';

        // const videoElement2 = document.createElement('video');
        // videoElement2.width = 720;
        // videoElement2.height = 405;
        // videoElement2.autoplay = true; // Starts the video playback as soon as it can do so
        // videoElement2.controls = false; // Shows the default video controls (play, pause, volume, etc.)
        // videoElement2.id = 'webcam';
        // const videoElement2 = '<video id="webcam" width="640" height="480" autoplay></video>'; 

        const exerciseDropdown = document.getElementById('exercise-dropdown');
        let selectedExercise; // Variable to store the selected exercise type

        let initialVideoSource; // Variable to store the initial video source URL
        let processedVideoSource; // Variable to store the processed video source URL
        let webcamStream = null;
        let drawSkeleton = "yes";
        let recommendButton = "yes";

        fileInput.addEventListener('change', function () {
            const file = fileInput.files[0];
            let videoPlayer = document.getElementById('video-player');
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    initialVideoSource = e.target.result; // Store the initial video source URL
                    videoPlayer.src = initialVideoSource;
                };
                reader.readAsDataURL(file);
                videoName.textContent = `${file.name}`;
                processedVideoContainer.style.display = 'none';  // Hide the processed video player
            }
        });


        // Add this code within your <script> tag
        function toggleHelp() {
            var helpInfo = document.getElementById('helpInfo');
            if (helpInfo.style.display === 'none') {
                helpInfo.style.display = 'block';
            } else {
                helpInfo.style.display = 'none';
            }
        }


        exerciseDropdown.addEventListener('change', function () {
            selectedExercise = exerciseDropdown.value;
            console.log('Selected exercise:', selectedExercise);
        });
        function myLoadFunction() {
            console.log('Page has finished loading!');
            let container = document.getElementById("video-container");
            container.appendChild(videoElement1);
        }

        // function toggleButton() {
        //     var button = document.getElementById("toggleButton");

        //     if (button.className === "toggle-button-off") {
        //         button.className = "toggle-button-on";
        //         button.innerHTML = "Keypoints On";
        //         drawSkeleton = "yes";
        //     } else {
        //         button.className = "toggle-button-off";
        //         button.innerHTML = "Keypoints Off";
        //         drawSkeleton = "no";
        //     }
        // }

        // function toggleRecommendButton() {
        //     var button = document.getElementById("RecommendButton");

        //     if (button.className === "toggle-button-off") {
        //         button.className = "toggle-button-on";
        //         button.innerHTML = "Recommendation On";
        //         recommendButton = "yes";
        //     } else {
        //         button.className = "toggle-button-off";
        //         button.innerHTML = "Recommendation Off";
        //         recommendButton = "no";
        //     }
        // }


        function toggleButton() {
    var button = document.getElementById("toggleButton");

    if (button.classList.contains("active")) {
        button.classList.remove("active");
        button.classList.add("off");
        button.innerHTML = "Keypoints Off";
        drawSkeleton = "no";
    } else {
        button.classList.remove("off");
        button.classList.add("active");
        button.innerHTML = "Keypoints On";
        drawSkeleton = "yes";
    }
}

function toggleRecommendButton() {
    var button = document.getElementById("RecommendButton");

    if (button.classList.contains("active")) {
        button.classList.remove("active");
        button.classList.add("off");
        button.innerHTML = "Recommendation Off";
        recommendButton = "no";
    } else {
        button.classList.remove("off");
        button.classList.add("active");
        button.innerHTML = "Recommendation On";
        recommendButton = "yes";
    }
}



        function processVideo() {
            const file = fileInput.files[0];
            //alert("Wecam not selected");

            if (file) {
                const formData = new FormData();
                formData.append('video', file);

                if (selectedExercise) {
                    formData.append('exercise', selectedExercise);
                }
                if (selectedExercise) {
                    formData.append('webcamstream', false);
                }

                formData.append("drawSkeleton", drawSkeleton);

                formData.append("recommend", recommendButton);

                processButton.disabled = true;
                processingMessage.style.display = 'block';


                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();  // Return the JSON response
                        } else {
                            throw new Error('Processing failed');
                        }
                    })
                    .then(data => {
                        processedVideoSource = data.video_url; // Store the processed video source URL
                        processedVideoPlayer.src = ''; // Clear the video source
                        processedVideoPlayer.load(); // Reload the video source
                        processedVideoContainer.style.display = 'block';  // Show the processed video container
                        processingMessage.style.display = 'none';  // Hide the processing message
                        refreshVideoPlayers();
                    })
                    .catch(error => {
                        console.error(error);
                        processButton.disabled = false;
                        processingMessage.style.display = 'none';
                    });
            }
            else {


                const formData = new FormData();
                formData.append('video', file);

                /* ADDED CODE */
                // Add the selected exercise type to the form data
                if (selectedExercise) {
                    formData.append('exercise', selectedExercise);
                }
                if (selectedExercise) {
                    formData.append('webcamstream', true);
                }

                formData.append("drawSkeleton", drawSkeleton);
                formData.append("recommend", recommendButton);

                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();  // Return the JSON response
                        } else {
                            throw new Error('Processing failed');
                        }
                    })
                    .then(data => {
                        processedVideoSource = data.video_url; // Store the processed video source URL
                        refreshVideoPlayers();
                    })
                    .catch(error => {
                        console.error(error);
                        processButton.disabled = false;
                        processingMessage.style.display = 'none';
                    });

                console.log("processvideo() done!");
            }
          }
        

        function refreshVideoPlayers() {
            let videoPlayer = document.getElementById('video-player');
            console.log(webcamStream);

            if (webcamStream) {

                videoPlayer.src = processedVideoSource; // Restore the initial video source
                videoPlayer.load(); // Reload the video source
                videoPlayer.play();
                console.log("starting again");
                processVideo();

            }
            else {
                processedVideoPlayer.src = processedVideoSource;
                videoPlayer.src = initialVideoSource; // Restore the initial video source
                videoPlayer.load(); // Reload the video source
                videoPlayer.play();
                processedVideoPlayer.play();
            }
        }
        function toggleWebcam() {

            let toggleButton = document.getElementById('webcamToggle');

            if (webcamStream) {
                webcamStream = false;
                toggleButton.innerHTML = 'Start Webcam';
            } else {
                webcamStream = true;
                toggleButton.innerHTML = 'Stop Webcam';
                processedVideoContainer.style.display = "none";
            }
        }   
        
        function refreshPage() {
                location.reload();
            }

    const openBtn = document.getElementById('openBtn');
    const popup = document.getElementById('popup');
    const closeBtn = document.getElementById('closeBtn');

    openBtn.addEventListener('click', () => {
      popup.style.display = 'block';
    });

    closeBtn.addEventListener('click', () => {
      popup.style.display = 'none';
    });



    const videoInput = document.getElementById('videoInput');
    const cameraButton = document.getElementById('cameraButton');
    const popupContainer = document.getElementById('popupContainer');
    const backgroundVideo = document.getElementById('backgroundVideo');

    videoInput.addEventListener('change', function (event) {
      const selectedVideo = event.target.files[0];
      if (selectedVideo) {
        const videoURL = URL.createObjectURL(selectedVideo);
        backgroundVideo.src = videoURL;
        backgroundVideo.style.display = 'block';
        popupContainer.style.display = 'none';
      }
    });

    cameraButton.addEventListener('click', async function () {
      try {
        const stream = await navigator.mediaDevices.getUserMedia({ video: true });
        backgroundVideo.srcObject = stream;
        backgroundVideo.style.display = 'block';
        popupContainer.style.display = 'none';
      } catch (error) {
        console.error('Error accessing camera:', error);
      }
    });




    const toggleButtons = document.querySelectorAll('.toggle-button');

    toggleButtons.forEach(button => {
      button.addEventListener('click', () => {
        button.classList.toggle('active');
        const ball = button.querySelector('.ball');
        const buttonText = button.querySelector('.button-title');

        if (button.classList.contains('active')) {
          ball.style.left = 'calc(100% - 25px)';
          buttonText.textContent = 'On';
        } else {
          ball.style.left = '5px';
          buttonText.textContent = 'Off';
        }
      });
    });

    const bar = document.getElementById('bar');
    const menu = document.getElementById('menu');

    bar.addEventListener('click', () => {
      menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
    });

    function selectOption(option) {
      const title = document.querySelector('.title');
      title.textContent = option;
      menu.style.display = 'none';
    }

    let countdown = 60;
    const countdownElement = document.getElementById('countdown');

    function updateCountdown() {
      countdownElement.innerText = countdown;
      countdown--;

      if (countdown < 0) {
        clearInterval(interval);
        countdownElement.innerText = 'Time\'s up!';
      }
    }

    const interval = setInterval(updateCountdown, 1000);
    </script>
</body>

</html>